<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="book" class="com.gavin.ioc.a5_autowire.Book">
        <property name="bookName" value="语文"/>
    </bean>
<!--    <bean id="person" class="Person">
        <property name="book" ref="book"/>
    </bean>-->



    <bean id="book1" class="com.gavin.ioc.a5_autowire.Book">
        <property name="bookName" value="数学"/>
    </bean>
    <bean id="person1" class="com.gavin.ioc.a5_autowire.Person"/>


   <!-- <bean id="book2" class="com.gavin.ioc.a5_autowire.Book">
        <property name="bookName" value="英语"/>
    </bean>
    <bean id="person2" class="com.gavin.ioc.a5_autowire.Person" />-->


    <bean id="remotingTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50" />
        <property name="maxPoolSize" value="50" />
        <property name="queueCapacity" value="50" />
        <property name="keepAliveSeconds" value="60" />
    </bean>


</beans>