<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 抽象bean，当做模板-->
    <bean id="userBeanAbstract" abstract="true">
        <property name="id" value="100"/>
        <property name="name">
            <value>jack</value>
        </property>
    </bean>

    <bean id="userInfoBean1" class="com.gavin.ioc.a3_abstractbean.UserInfoBean" parent="userBeanAbstract">
        <property name="passwd" value="123" />
    </bean>

    <bean id="userInfoBean2" class="com.gavin.ioc.a3_abstractbean.UserInfoBean" parent="userBeanAbstract">
        <property name="passwd" value="abc" />
    </bean>


</beans>