<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="dateBean" class="com.gavin.ioc.a4_editorsupport.DateBean">
        <property name="date" value="2018-07-21"/>
    </bean>
    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <!-- 可以这样配置，但是不能自定义日期格式-->
                <entry key="java.util.Date" value="com.gavin.ioc.a4_editorsupport.DatePropertyEditor"/>
            </map>
        </property>
    </bean>


    <!-- 利用SimpleDateFormat
    <bean id="simpleFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy/MM/dd"/>
    </bean>
    <bean id="str2Date" factory-bean="simpleFormat" factory-method="parse">
        <constructor-arg value="2018/06/15"/>
    </bean>
    <bean id="dateBean1" class="com.gavin.ioc.a4_editorsupport.DateBean" >
        <property name="date" ref="str2Date">
        </property>
    </bean>
    -->

    <bean id="simpleFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy/MM/dd"/>
    </bean>
    <bean id="dateBean1" class="com.gavin.ioc.a4_editorsupport.DateBean" >
        <property name="date">
            <bean id="str2Date" factory-bean="simpleFormat" factory-method="parse">
                <constructor-arg value="2018/06/15"/>
            </bean>
        </property>
    </bean>
</beans>